<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>887425416564-es8sqg03rc8sts3v1ksjv280h5df53fm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.887425416564-es8sqg03rc8sts3v1ksjv280h5df53fm</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>887425416564-i0s813li8u1futikho5l16rfb264t9bk.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDI_gOBmFPPfssegCJHkKYHwF-dXj_PIhY</string>
	<key>GCM_SENDER_ID</key>
	<string>887425416564</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.billclark.myPrayers</string>
	<key>PROJECT_ID</key>
	<string>prayerlist-874eb</string>
	<key>STORAGE_BUCKET</key>
	<string>prayerlist-874eb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:887425416564:ios:1da62872cf0cbffd</string>
	<key>DATABASE_URL</key>
	<string>https://prayerlist-874eb.firebaseio.com</string>
</dict>
</plist>